body, html {  
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 8%;
}

.navbar #title {
  color: #f2f2f2;
  text-align: center;
  font-variant: small-caps;
  font-size: 5vh;
  width: 50%;
  min-height: 7%;
}

/* need to change colors etc */
.navbar .links {
  text-decoration: none;	
  color: #f2f2f2;
  text-align: center;
  font-size: 200%;
  min-height: 7%;
  width: 20%;
  margin-left: 10px;
  border-radius: 50px;
}

.navbar .links:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: black;
  width: 20%;
  align-items: center;
  margin-left: 10px;
}

.navbar .active {
  text-decoration: none;
  background-color:#87bde0;
  color: white;
  width: 20%;
  align-items: center;
  margin-left: 10px;
  min-width: 110px;
}

.navbar .icon {
  display: none;
  padding-left: 0px;
}

/* responsive */
@media screen and (max-width: 500px) {
  .navbar {
	flex-direction: column;
	width: 100%;
	padding-right: 0px;
	border-radius: 0px;
  }
  
  .navbar .links, .navbar .links:hover, .navbar .links .active, .navbar #title {
	margin: auto;
	width: 100%;
	padding-top: 2px;
	border-radius: 0px;
  }
}

@media screen and (min-width: 1200px) {
  body, html{
	max-width: 1200px;
	margin: auto;
  }
  
  .navbar {
    border-radius: 5px;
  }
}

*{
	box-sizing: border-box;
	font-family: Helvetica;
}

.tabcontent{
	display: none;
	border:  0.1% solid #ccc;
	border-top: none;
	text-align: center;
}

.column {
    float:left;
    width :50%;
    margin-top: 10px;
    padding: 10px;
    height: 300px;
}

row.after {
    content: "";
    display: table;
    clear:both;
}

.footer {
    clear: both;
    position: absolute;
    bottom: 0;right: 0; left:0;
    margin-top: -100%;
	text-align: center
}


