/* GENERAL*/
body, html{  
  max-width: 1200px;
  max-height: 100%;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
	background-color: rgb(255, 255, 255);
}

img {
	max-height: 300px;
	max-width: 300px;
}

h2 {
	margin-top: 20px;
}

h3, h4 {
	padding-top: 10px;
	font-variant: small-caps;
	font-size: 200%;
	margin: auto;
}

#swiper {
	display: none;
}

#box {
	display: inline;
}

/* NAVIGATION */
.navbar {
  background-color: rgb(92, 92, 92);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 8%;

}

.icon-nav{
	height: 50;
	min-width: 48px;
	max-width: 48px;
	margin: 10px;
	width: 10%;
}

.navbar .links {
	text-decoration: none;
	font-size: 200%;
}

.navbar .links:visited {
	color: #FFFFFF;
}

.navbar #title {
	color: rgb(92, 92, 92);
  font-variant: small-caps;
  font-size: 5vh;
  width: 40%;
  min-height: 7%;
}

/* BUTTON */
.button {
	text-align: center;
	width: 15%;
	min-width: 110px;
	max-width: 150px;
	border-radius: 5px;
	margin: 5px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

*{
	box-sizing: border-box;
	font-family: 'Helvetica'
}

/* GRID AND CONTENT */
.tabcontent{
	display: none;
	border-top: none;
	text-align: center;
	width: 100%;
}

.row{
	width: 100%;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.column {
  width: 50%;
	margin: auto;
  padding: 10px;
  height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#welcome, #creator {
	width: 100%;
	margin: auto;
	background-color: rgb(92, 92, 92);
	color: #FFFFFF;
	height: 60px;
	padding-top: 10px;
	box-shadow: -2px 10px 8px 0px #888888
}

.column-title, .column-bio {
	background-color: rgb(92, 92, 92);
	color: #FFFFFF;
	height: 15%;
	max-height: 60px;
	width: 100%;
	max-width: 300px;
	min-width: 260px;
}

.column-img {
	padding: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-bio {
	height: 40%;
	font-variant: uppercase;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 92, 92);
  color: #FFFFFF;
  text-align: right;
	padding-right: 10px;
	height: 40px;
	z-index: 0;
}

.navbar #title {
	color: #f2f2f2;
  text-align: left;
  font-variant: small-caps;
  font-size: 5vh;
  width: 50%;
  min-height: 7%;
}

.tabcontent{
	display: none;
	border-top: none;
	text-align: center;
}

.column {
  width :50%;
  margin-top: 10px;
  padding: 10px;
}

.row, .stage {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.stage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* TABS AND SLIDER */
ul{
	background-color: rgb(92, 92, 92);
	display: flex;
	transform: translate(0%,-2%);
	box-shadow: 0 0 0 5px rgb(92, 92, 92);
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	width: 120px;
}

ul li .active a{
	color: #262626;
	border-radius: 30px;
	overflow:hidden;
}

ul li a {
	display: block;
	text-align: center;
	color: #fff;
	padding: 20px;
	transition: 1s;
	text-decoration: none;
}

.slide{
	position: absolute;
	width: 100px;
	height: 10%;
	bottom: 5px;
	margin-left: 10px;
	background: #fff;
	z-index: -1;
	transition: 0.5s;
	opacity: 0.7;
	border-radius: 5px;
	overflow:hidden;
}

ul li:nth-child(1).active ~ .slide{
	left: 0;
	opacity: 1;
}

ul li:nth-child(2).active ~ .slide{
	left: 120px;
	opacity: 1;
}

/* box */
.wrapper {
	margin: auto;
	padding-top: 10px;
	max-width: 960px;
}

.stage {
	list-style: none;
	justify-content: center;
	margin: auto;
}

.scene {
	width: 260px;
	height: 400px;
	margin: 30px;
	perspective: 1000px;
}

.movie {
	width: 260px;
	height: 400px;
	transform-style: preserve-3d;
	transform: translateZ(-130px);
	transition: transform 350ms;
}

.movie:hover {
	transform: rotateY(-78deg) translateZ(20px);
}

.movie .poster, 
.movie .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color: #fff;
  backface-visibility: hidden;
}


.movie .poster  {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}

.movie .info {
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

.movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms;
}

.info header {
  color: #FFF;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}

.info header .rating {
  border: 1px solid #FFF;
  padding: 0px 3px;
}

.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  border-top: 10px solid #555;
}

.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}

.movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}
.movie .info, 
.movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.movie:hover .info, 
.movie:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

.scene:nth-child(1) .movie .poster {
  background-image: url(../img/poster01.jpg);
}

.scene:nth-child(2) .poster {
  background-image: url(../img/poster02.jpg);
}

.scene:nth-child(3) .poster {
  background-image: url(../img/poster03.jpg);
}

.scene:nth-child(1) .info header {
  background-image: url(../img/still01.jpg);
}

.scene:nth-child(2) .info header {
  background-image: url(../img/still02.jpg);
}

.scene:nth-child(3) .info header {
  background-image: url(../img/still03.jpg);
}

/* MOBILE SITE */
@media screen and (max-width: 660px) {

	#swiper {
		display: inline;
	}

	#box {
		display: none;
	}

	.icon-nav {
		display: none;
	}
	
  .navbar {
		flex-direction: column;
		width: 100%;
		padding-right: 0px;
		border-radius: 0px;
		padding-bottom: 5px;
  }
  
  .navbar #title{
		width: 100%;
		border-radius: 0px;
		text-align: center;
		padding: 10px 10px;
  }
	
	.row, .stage{
		flex-direction: column;
		width: 100%;
		margin: auto;
		flex-wrap: wrap;
	}
	
	.column {
		width :100%;
		margin: auto;
		align-items: center;
		padding: 25px;
		display: flex;
		flex-direction: column;
	}
	
	.column-title, .column-bio {
		min-width: 300px;
	}
	
	.column-bio{
		padding-bottom: 10%;
	}
	
	.footer {
		visibility: hidden;
	}
}

/* LARGE DESKTOP MONITORS */
@media screen and (min-width: 1200px) {
	
	html{
		max-width: none;
	}
	
  body{
		max-width: none;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	
	.tabcontent {
		width: 80%;
		margin-left: 20%;
	}
  
  .navbar {
		width: 20%;
		flex-direction: column;
		z-index: 1;
		position: fixed;
		height: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
	
	.navbar #title {	
	  text-align: center;
		width: 100%;
	}
	
	.icon-nav{
		min-width: 100px;
		min-height: 100px;
	}

	.stage {
		justify-content: flex-end;
	}

	#welcome, #creator{
		width: 100%;
	}


}