body{
	 background-color: #ffffff;
 }

*{
	 box-sizing: border-box; 
}

.navbar {
  overflow: hidden;    
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
}

#mainTitle {
    text-align: center;
    font-size: 120%;
    padding-left: 10.5%    ;
    padding-right: 18%;
    font-family: "Helvetica";
    margin: auto;
    max-height: 100%;
    padding-bottom: 0.8%;
    padding-top: 0.8%;
}


 h3{
font-size: 2.5vw;
    }


/*Style the tab content*/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
}

/* table config - About page */ 
.column {
    float:left;
    width :50%;
    margin-top: 10px;
    padding: 10px;
    height: 300px;
}
row.after {
    content: "";
    display: table;
    clear:both;
}
